body {
  /* background: #160027; */
  color: #333;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#country-select-label {
  /* color: white; */
}

.inner-wrap {
  width: 50%;
}